{% extends 'base.html' %}
{% block content %}
    <h1 style='color:black'>{% block title %} Welcome to our COMP4312 final project! {% endblock %}</h1>
<h3 style='color:blue'>
    This platform is intended to serve our machine learning model that has been designed to predict
    the price of a house in California based on a series of characteristics
</h3>
<img src="/static/plot1.png" height="500" width="800"/>
<img src="/static/plot2.jpg" height="500" width="800" />
<img src="/static/plot3.png" height="500" width="800" />
<img src="/static/plot4.png" height="500" width="800" />
<img src="/static/plot5.png" height="500" width="800" />
{% endblock %}