{% extends 'base.html' %}

{% block content %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/about.css') }}">
    <section class="about" id="about">
        <div class="container">
            <div class="about-details">
                <div class="about-heading">
                  <h1>About Us</h1>
                </div>
                <p>
                California Housing Predictions delivers reliable, useful, but most importantly practical price predictions and data to future home owners. We care about trends; we care about things that work for investing in a life-changing decision. We uniquely solve for risk by generating home appreciation projections with unprecedented geographic granularity and market-leading predictive accuracy. <p>Make California your next choice in housing.</p>
                </p>
              </div>
          <div class="profile-img">
            <img src="/static/calculator.jpg" />
          </div>
        </div>
      </section>
    <div class="container">
      <div class="section-heading">
        <h1>Our Team</h1>
      </div>
      <div class="team">
        <div class="member">
          <div class="image-container">
            <img src="/static/steam11.png" class="profile-img" />
          </div>
          <h1>Kris</h1>
          <h2>Database Admin</h2>
          <p>Designed SQL database and deployed App Engine</p>
          <p>Store and retrieve data from Cloud SQL</p>
          <p></p>
          <div class="social-media">
            <ul class="nav-list">
              <li>
                <a href="https://github.com/Krislakeheadu" class="icon-link">
                  <i class="fab fa-github-square"></i>
                </a>
              </li>
              <li>
                <a href="mailto:kluszczy@lakeheadu.ca" class="icon-link">
                  <i class="fas fa-envelope-square"></i>
                </a>
              </li>
          </div>
        </div>
        <div class="member">
          <div class="image-container">
            <img src="/static/steam22.png" class="profile-img" />
          </div>
          <h1>Justin</h1>
          <h2>Tester</h2>
          <p>Fiddled with CSS for webpages</p>
          <p>Found resources for google cloud implementation.</p>
          <p></p>
          <div class="social-media">
            <ul class="nav-list">
              <li>
                <a href="https://github.com/MechaAvocado" class="icon-link">
                  <i class="fab fa-github-square"></i>
                </a>
              </li>
              <li>
                <a href="mailto:jmvo@lakeheadu.ca" class="icon-link">
                  <i class="fas fa-envelope-square"></i>
                </a>
              </li>
          </div>
        </div>
        <div class="member">
          <div class="image-container">
            <img src="/static/steam33.png" class="profile-img" />
          </div>
          <h1>Sanjana</h1>
          <h2>Designer</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <p>Sed do eiusmod tempor incididunt ut labore et.</p>
          <p></p>
          <div class="social-media">
            <ul class="nav-list">
              <li>
                <a href="https://github.com/sanjana1512" class="icon-link">
                  <i class="fab fa-github-square"></i>
                </a>
              </li>
              <li>
                <a href="mailto:ssharm44@lakeheadu.ca" class="icon-link">
                  <i class="fas fa-envelope-square"></i>
                </a>
              </li>
          </div>
        </div>
        <div class="member">
          <div class="image-container">
            <img src="/static/steam44.png" class="profile-img" />
          </div>
          <h1>Tyler</h1>
          <h2>Developer</h2>
          <p>Cleaned and processed dataset.</p>
          <p>Trained and tested dataset for model.</p>
          <p>Designed inference webpage and forms.</p>
          <div class="social-media">
            <ul class="nav-list">
              <li>
                <a href="https://github.com/thaimac" class="icon-link">
                  <i class="fab fa-github-square"></i>
                </a>
              </li>
              <li>
                <a href="mailto:tbmcewen@lakeheadu.ca" class="icon-link">
                  <i class="fas fa-envelope-square"></i>
                </a>
              </li>
          </div>
        </div>
      </div>
    </div>
    <footer class="copyright">
      <p>&copy; 2020 California Housing Prediction</p>
    </footer>
    {% endblock %}
