{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Create a New Post {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="input">Input Text</label>
        <input type="text" name="input"
               placeholder="reply to win £100 weekly!" class="form-control"
               value="{{ request.form['input'] }}"></input>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    <div class="form-group">
        <label for="content">Text Content</label>
        <textarea name="content" placeholder="NA"
                  class="form-control">{{ request.form['input'] }}</textarea>
    </div>
    <div class="form-group">
        <label for="label">Predicted Label</label>
        <textarea name="label" placeholder="Post label"
                  class="form-control">{{ label }}</textarea>
    </div>
    <div class="form-group">
        <label for="prob">Predicted Probability</label>
        <textarea name="prob" placeholder="Post prob"
                  class="form-control">{{ prob }}</textarea>
    </div>
</form>
<!--    <p>{{ post }}</p>-->
{% endblock %}